.Header {
  background-color: #ff4d4d;
  box-shadow: 5px 5px 5px 5px darkgrey;
  margin-bottom: 15px;
  display: flex;
  justify-content: center; }
  .Header h1 {
    margin: 10px 0px;
    font-size: 90px; }
    .Header h1 span {
      font-size: 12px;
      margin: 0px -25px; }

@media screen and (max-width: 650px) {
  .Header h1 {
    font-size: 60px; }
    .Header h1 span {
      font-size: 9px;
      margin: 0px -17px; } }

@media screen and (max-width: 450px) {
  .Header h1 {
    font-size: 45px; }
    .Header h1 span {
      font-size: 8px;
      margin: 0px -10px; } }
