/* main styles */
/* Nav styles */
/* Card styles */
/* apple-icon styles */
/* Comparison styles */
/* Chart styles */
.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ff4d4d; }
  .Header h1 {
    font-size: 90px;
    margin: 0px; }
    .Header h1 span {
      background: black;
      border: 1px solid black;
      border-radius: 50%;
      color: #ff4d4d;
      font-size: 12px;
      margin: 0px -30px 0px -25px;
      padding: 5px; }

@media screen and (max-width: 650px) {
  .Header h1 {
    font-size: 60px; }
    .Header h1 span {
      font-size: 9px;
      margin: 0px -17px; } }

@media screen and (max-width: 450px) {
  .Header h1 {
    font-size: 45px; }
    .Header h1 span {
      font-size: 8px;
      margin: 0px -10px; } }
