// @import url('https://fonts.googleapis.com/css?family=Squada+One');

.Header {
  background-color: lighten(red, 15%);
  box-shadow: 5px 5px 5px 5px darkgrey;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;

  h1 {
    margin: 10px 0px;
    font-size: 90px;
    // font-family: 'Squada One', sans-serif;
    // letter-spacing: .06em;
    // font-weight: 400; 
    span {
      border: 1px solid black;
      border-radius: 50%;
      font-size: 12px;
      padding: 5px;
      margin: 0px -30px 0px -25px;
      background-color: black;
      color: lighten(red, 15%);
      // letter-spacing: 0;
    }
  }
}

@media screen and (max-width: 650px) {
  .Header {
    h1 {
      font-size: 60px;
      span {
        font-size: 9px;
        margin: 0px -17px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .Header {
    h1 {
      font-size: 45px;
      span {
        font-size: 8px;
        margin: 0px -10px;
      }
    }
  }
}