.Header {
  background-color: #ff4d4d;
  box-shadow: 5px 5px 5px 5px darkgrey;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .Header h1 {
    margin: 0px;
    font-size: 90px; }
    .Header h1 span {
      border: 1px solid black;
      border-radius: 50%;
      font-size: 12px;
      padding: 5px;
      margin: 0px -30px 0px -25px;
      background-color: black;
      color: #ff4d4d; }
  .Header .button-wrapper {
    display: flex;
    margin: 5px; }
    .Header .button-wrapper button {
      border-radius: 50px;
      cursor: pointer;
      border: none;
      margin: 3px; }

@media screen and (max-width: 650px) {
  .Header h1 {
    font-size: 60px; }
    .Header h1 span {
      font-size: 9px;
      margin: 0px -17px; } }

@media screen and (max-width: 450px) {
  .Header h1 {
    font-size: 45px; }
    .Header h1 span {
      font-size: 8px;
      margin: 0px -10px; } }
