.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: $main-color;
  h1 {
    font-size: 90px; 
    margin: 0px;
    span {
      background: black;
      border: $solid-border;
      border-radius: 50%;

      color: $main-color;
      font-size: 12px;

      margin: 0px -30px 0px -25px;
      padding: 5px;
    }
  }
}

@media screen and (max-width: 650px) {
  .Header {
    h1 {
      font-size: 60px;
      span {
        font-size: 9px;
        margin: 0px -17px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .Header {
    h1 {
      font-size: 45px;
      span {
        font-size: 8px;
        margin: 0px -10px;
      }
    }
  }
}