.Chart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px auto;
  border-radius: 5px;
  margin-top: 30px;
  height: 380px;
  width: 600px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 8px 8px 8px 8px darkgrey;
  transition: 1s;
  &:hover {
  box-shadow: 1px 1px 1px 1px darkgrey;
  
  }
  .chartNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    h5 {
      padding-left: 8px;
      margin: 0px;
      margin-top: 10px;
    }
    .district1key {
        background-color: red;
        border-radius: 5px;
        height: 10px;
        width: 10px;
        display: inline-block;
        margin-left: 10px;
    }
    .district2key {
      background-color: blue;
      border-radius: 5px;      
      height: 10px;
      width: 10px;
      display: inline-block;
      margin-left: 10px;          
    }
    button {
      z-index: 10;
      border-radius: 0px;
      border: none;
      background: lighten(red, 15%);
      width: 100px;
      margin-left: 100px;
      color: #fff;
      font-size: 14pt;
      cursor: pointer;
      &:hover {
        background: #506479;
      }
    }
  }
  ul {
    width: 100%;
    display: flex;
    padding: 0px;
    justify-content: space-between;
    li {
      display: inline-block;
      text-align: center;
    }
  }
  svg {
      position: absolute;
      // left: calc(50% - 300px);
      width: 600px;
      height: 300px;
      padding-top: 40px;
  }
}