.Chart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  background: $chart-background;
  border: $solid;
  border-radius: 5px;
  box-shadow: $chart-box-shadow;

  height: 380px;
  width: 600px;
  margin: 0px auto;
  margin-top: 30px;
  
  transition: 1s;
  &:hover {
    box-shadow: $chart-hover-box-shadow;
  }
  .chart-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;

    height: 300px;
    width: 600px;
    padding-top: 50px;
    svg {
      position: absolute;
      
      width: 560px;
      padding-left: 40px;
    }
    .axis {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;

      border-right: $solid-border;

      height: 100%;
      width: 40px;
      padding-right: 5px;
      span {
        text-align: right;
      }
    }
  }

  .chartNav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    border-bottom: $solid-border;
    box-sizing: border-box;

    height: 40px;
    width: 100%;
    h5 {
      margin: 0px;
      margin-top: 10px;
      padding-left: 8px;
    }
    .district1key {
      display: inline-block;

      background-color: $graph-color1;
      border-radius: 5px;

      height: 10px;
      width: 10px;
      margin-left: 10px;
    }
    .district2key {
      display: inline-block;

      background-color: $graph-color2;
      border-radius: 5px;      

      height: 10px;
      width: 10px;
      margin-left: 10px;          
    }
    button {
      background: $main-color;
      border: none;
      border-radius: 0px;
      
      color: #fff;
      cursor: pointer;
      font-size: 14pt;

      width: 100px;
      margin-left: 100px;

      z-index: 10;
      &:hover {
        background: $secondary-color;
      }
    }
  }
  
  ul {
    display: flex;
    justify-content: space-between;

    border-top: $solid-border;

    width: 555px;
    margin-bottom: 8px;
    margin-left: 45px;
    padding: 0px;
    li {
      display: inline-block;
      text-align: center;
      
      padding-top: 5px;
    }
  }
}