.Chart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px auto;
  border-radius: 5px;
  margin-top: 30px;
  height: 380px;
  width: 600px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 8px 8px 8px 8px darkgrey;
  transition: 1s; }
  .Chart:hover {
    box-shadow: 1px 1px 1px 1px darkgrey; }
  .Chart .chart-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
    height: 300px;
    padding-top: 50px;
    position: absolute; }
    .Chart .chart-container svg {
      position: absolute;
      width: 560px;
      padding-left: 40px; }
    .Chart .chart-container .axis {
      display: flex;
      height: 100%;
      width: 40px;
      flex-direction: column-reverse;
      justify-content: space-between;
      padding-right: 5px;
      border-right: 1px solid black; }
      .Chart .chart-container .axis span {
        text-align: right; }
  .Chart .chartNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black; }
    .Chart .chartNav h5 {
      padding-left: 8px;
      margin: 0px;
      margin-top: 10px; }
    .Chart .chartNav .district1key {
      background-color: red;
      border-radius: 5px;
      height: 10px;
      width: 10px;
      display: inline-block;
      margin-left: 10px; }
    .Chart .chartNav .district2key {
      background-color: blue;
      border-radius: 5px;
      height: 10px;
      width: 10px;
      display: inline-block;
      margin-left: 10px; }
    .Chart .chartNav button {
      z-index: 10;
      border-radius: 0px;
      border: none;
      background: #ff4d4d;
      width: 100px;
      margin-left: 100px;
      color: #fff;
      font-size: 14pt;
      cursor: pointer; }
      .Chart .chartNav button:hover {
        background: #506479; }
  .Chart ul {
    width: 555px;
    display: flex;
    padding: 0px;
    margin-left: 45px;
    justify-content: space-between;
    border-top: 1px solid black;
    margin-bottom: 8px; }
    .Chart ul li {
      display: inline-block;
      padding-top: 5px;
      text-align: center; }
