.Chart {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  top: 180px;
  left: calc(50% - 160px);
  height: 380px;
  width: 600px;
  background-color: white;
  border: 1px solid black; }
  .Chart .chartNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    height: 40px;
    box-sizing: border-box; }
    .Chart .chartNav h5 {
      padding-left: 8px;
      margin: 0px;
      margin-top: 10px; }
    .Chart .chartNav .district1key {
      background-color: red;
      border-radius: 5px;
      height: 10px;
      width: 10px;
      display: inline-block;
      margin-left: 10px; }
    .Chart .chartNav .district2key {
      background-color: blue;
      border-radius: 5px;
      height: 10px;
      width: 10px;
      display: inline-block;
      margin-left: 10px; }
    .Chart .chartNav button {
      z-index: 10;
      border-radius: 0px;
      border: none;
      background: #ff4d4d;
      width: 100px;
      margin-left: 100px;
      color: #fff;
      font-size: 14pt;
      cursor: pointer; }
      .Chart .chartNav button:hover {
        background: #506479; }
  .Chart ul {
    width: 100%;
    display: flex;
    padding: 0px;
    justify-content: space-between; }
    .Chart ul li {
      display: inline-block;
      text-align: center; }
  .Chart svg {
    position: absolute;
    left: calc(50% - 300px);
    width: 600px;
    height: 300px;
    padding-top: 40px; }
