.ComparisonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px auto 0;
  width: 780px;
  border: 1px dashed black;
  h3 {
    color: lighten(red, 15%);
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 945px){
  .ComparisonContainer {
    width: 700px;
  }
}

@media screen and (max-width: 860px){
  .ComparisonContainer {
    width: 520px;
  }
}

@media screen and (max-width: 670px){
  .ComparisonContainer {
    width: 460px;
  }
}