/* main styles */
/* Nav styles */
/* Card styles */
/* apple-icon styles */
/* Comparison styles */
/* Chart styles */
.ComparisonContainer {
  display: flex;
  flex-direction: column; }
  .ComparisonContainer .instructions {
    display: flex;
    justify-content: space-around;
    margin-bottom: -12px;
    width: 690px; }
    .ComparisonContainer .instructions h5 {
      color: grey;
      font-style: italic;
      margin: 0px; }
  .ComparisonContainer .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px dashed black;
    margin: 15px auto 0;
    width: 780px; }
    .ComparisonContainer .cards h3 {
      color: #ff4d4d;
      font-size: 18pt;
      text-align: center;
      margin: 20px auto;
      width: 100%; }

@media screen and (max-width: 945px) {
  .ComparisonContainer {
    width: 700px; } }

@media screen and (max-width: 860px) {
  .ComparisonContainer {
    width: 520px; } }

@media screen and (max-width: 670px) {
  .ComparisonContainer {
    width: 460px; } }
