.ComparisonContainer {
  display: flex;
  flex-direction: column;

  .instructions {
    display: flex;
    justify-content: space-around;

    margin-bottom: -12px;
    width: 690px;
    h5 {
      color: $comparison-instructions-text;
      font-style: italic;

      margin: 0px;
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    border: $dashed-border;

    margin: 15px auto 0;
    width: 780px;
    h3 {
      color: $main-color;
      font-size: 18pt;
      text-align: center;
      margin: 20px auto;
      
      width: 100%;
    }
  }
}

@media screen and (max-width: 945px){
  .ComparisonContainer {
    width: 700px;
  }
}

@media screen and (max-width: 860px){
  .ComparisonContainer {
    width: 520px;
  }
}

@media screen and (max-width: 670px){
  .ComparisonContainer {
    width: 460px;
  }
}