.ComparisonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px auto;
  width: 780px;
  border: 1px dashed black;
  
  h3 {
    color: lighten(red, 15%);
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 830px){
  .ComparisonContainer {
    width: 520px;
  }
}

@media screen and (max-width: 570px){
  .ComparisonContainer {
    width: 260px;
  }
}