.ComparisonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 780px;
  border: 1px dashed black; }
  .ComparisonContainer h3 {
    color: #ff4d4d;
    width: 100%;
    text-align: center; }

@media screen and (max-width: 830px) {
  .ComparisonContainer {
    width: 520px; } }

@media screen and (max-width: 570px) {
  .ComparisonContainer {
    width: 260px; } }
