/* main styles */
/* Nav styles */
/* Card styles */
/* apple-icon styles */
/* Comparison styles */
/* Chart styles */
@import url(../../fontello-e98b1dbc/css/fontello.css);
.Card {
  display: flex;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px darkgrey;
  box-sizing: border-box;
  margin: 15px;
  padding: 0px;
  min-width: 200px;
  width: 200px;
  cursor: pointer;
  transition: 1s; }
  .Card:hover {
    box-shadow: 1px 1px 1px 1px black; }
  .Card div {
    width: 100%; }
  .Card h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #ff4d4d;
    border-radius: 10px 10px 0 0;
    height: 3em;
    margin: 0px;
    padding: 3px; }
  .Card ul {
    margin: 10px 0 0;
    padding: 10px; }
    .Card ul li {
      display: flex;
      justify-content: space-around;
      list-style: none; }
      .Card ul li p {
        margin: 0; }
      .Card ul li p.data {
        text-align: right;
        width: 40px; }
      .Card ul li i.low {
        color: red; }
      .Card ul li i.low-average {
        color: #ff4d00; }
      .Card ul li i.average {
        color: #ffb700; }
      .Card ul li i.high-average {
        color: #95ff00; }
      .Card ul li i.high {
        color: #40b009; }

.selected {
  background-color: #ffe6e6; }

.Card.comparison {
  background-color: lightgrey;
  border: 1px dashed black; }

.Card.compared {
  border: 1px dashed black;
  text-align: center; }

.Card.displayComparedData {
  display: flex; }
  .Card.displayComparedData div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    height: 100%; }
    .Card.displayComparedData div h3 {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ff4d4d;
      border-radius: 10px 10px 0 0;
      color: black;
      font-size: 14pt;
      margin: 0px;
      padding-top: 6px;
      height: 3em; }
      .Card.displayComparedData div h3 i {
        color: red;
        font-size: 30px; }
      .Card.displayComparedData div h3:nth-child(3) {
        background: #ffe6e6;
        border-radius: 0px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        margin: 0px; }
      .Card.displayComparedData div h3:nth-child(5) {
        border-radius: 0 0 10px 10px; }
    .Card.displayComparedData div p {
      margin: 0px; }
    .Card.displayComparedData div i.low {
      color: red; }
    .Card.displayComparedData div i.low-average {
      color: #ff4d00; }
    .Card.displayComparedData div i.average {
      color: #ffb700; }
    .Card.displayComparedData div i.high-average {
      color: #95ff00; }
    .Card.displayComparedData div i.high {
      color: #40b009; }
