@import '../variable.scss';
@import '../../fontello-e98b1dbc/css/fontello.css';

.Card {
  display: flex;

  border: none;
  border-radius: 10px;
  box-shadow: $card-box-shadow;
  box-sizing: border-box;
  
  margin: 15px;
  padding: 0px;
  min-width: 200px;
  width: 200px;

  cursor: pointer;
  transition: 1s;

  &:hover {
    box-shadow: $card-hover-box-shadow;  
  }

  div {
    width: 100%;
  }

  h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: $main-color;
    border-radius: 10px 10px 0 0;

    height: 3em;
    margin: 0px;
    padding: 3px;
  }

  ul {
    margin: 10px 0 0;
    padding: 10px;

    li {
      display: flex;
      justify-content: space-around;
      list-style: none;
      p {
        margin: 0;
      }
      p.data {
        text-align: right;
        width: 40px;
      }
      i.low{
        color: $low-color;
      }
      i.low-average{
        color: $low-average-color;
      }
      i.average{
        color: $average-color;
      }
      i.high-average{
        color: $high-average-color;
      }
      i.high{
        color: $high-color;
      }
    }
  }
}

.selected {
  background-color: $card-selected-background;
}

.Card.comparison {
  background-color: $comparison-empty-background;
  border: $dashed-border;
}

.Card.compared {
  border: $dashed-border;
  text-align: center;
}

.Card.displayComparedData {
  display: flex;
  
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-radius: 10px;
    height: 100%;
    
    h3 {
      display: flex;
      align-items: center;
      justify-content: center;

      background: $main-color;
      border-radius: 10px 10px 0 0;
      color: black;
      font-size: 14pt;
      
      margin: 0px;
      padding-top: 6px;
      height: 3em;
      i {
        color: $graph-button-color;
        font-size: 30px;
      }
      &:nth-child(3) {
        background:  $card-selected-background;
        border-radius: 0px;
        border-bottom: $solid-border;
        border-top: $solid-border;

        margin: 0px;
      }
      &:nth-child(5) {
        border-radius: 0 0 10px 10px;
      }
    }

    p {
      margin: 0px;
    }
    i.low{
      color: $low-color;
    }
    i.low-average{
      color: $low-average-color;
    }
    i.average{
      color: $average-color;
    }
    i.high-average{
      color: $high-average-color;
    }
    i.high{
      color: $high-color;
    }
  }
}