.Card {
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px darkgrey;
  margin: 15px;
  padding: 0px;
  width: 200px;
  min-width: 200px;
  // min-height: 300px;
  box-sizing: border-box;
  display: flex;
  div {
    width: 100%;
    padding: 15px;
  }
  h4 {
    height: 2em;
    margin: 0px;
    text-align: center;
    width: 100%;
  }
  ul {
    margin: 15px 0 0;
    padding: 3px;
    li {
      list-style: none;
      p {
        display: inline-block;
        width: 40px;
        margin: 0;
      }
    }
    .high {
      color: blue;
    }
    .not-yet {
      color: lightblue;
    }
  }
  cursor: pointer;
  &:hover {
    box-shadow: 5px 5px 5px 5px black;  
  }
}

.selected {
  background-color: lighten(red, 40%);

}

.Card.comparison {
  border: 1px dashed black;
  background-color: lightgrey;
  height: 270px;
}

.Card.compared {
  border: 1px dashed black;
  text-align: center;
}