.Card {
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px darkgrey;
  margin: 15px;
  padding: 0px;
  width: 200px;
  min-width: 200px;
  box-sizing: border-box;
  display: flex;
  cursor: pointer; }
  .Card div {
    width: 100%; }
  .Card h4 {
    height: 3em;
    padding: 3px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ff4d4d;
    border-radius: 10px 10px 0 0; }
  .Card ul {
    margin: 15px 0 0;
    padding: 15px; }
    .Card ul li {
      list-style: none; }
      .Card ul li p {
        display: inline-block;
        width: 40px;
        margin: 0; }
    .Card ul .high {
      color: #36494E; }
    .Card ul .not-yet {
      color: #919B9E; }
  .Card:hover {
    box-shadow: 5px 5px 5px 5px black; }

.selected {
  background-color: #ffcccc; }

.Card.comparison {
  border: 1px dashed black;
  background-color: lightgrey;
  height: 270px; }

.Card.compared {
  border: 1px dashed black;
  text-align: center; }

.Card.displayComparedData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
