
.icon-search:before { content: '\e800'; } /* '' */
.icon-chart-line:before { content: '\e801'; } /* '' */
.icon-graduation-cap:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-pencil-neg:before { content: '\e804'; } /* '' */
.icon-desktop:before { content: '\e808'; } /* '' */
.icon-dollar:before { content: '\e80a'; } /* '' */
.icon-doc-text:before { content: '\e80b'; } /* '' */
.icon-ccw:before { content: '\e80d'; } /* '' */
.icon-traffic-cone:before { content: '\e80e'; } /* '' */
.icon-attention:before { content: '\e80f'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-blank:before { content: '\f0c8'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-child:before { content: '\f1ae'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */