.CardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0px auto;
  width: 1150px;
}

@media screen and (max-width: 1350px){
  .CardContainer {
    width: 920px;
  }
}

@media screen and (max-width: 1090px){
  .CardContainer {
    width: 690px;
  }
}

@media screen and (max-width: 830px){
  .CardContainer {
    width: 460px;
  }
}

@media screen and (max-width: 570px){
  .CardContainer {
    width: 230px;
  }
}