.CardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0px auto 200px;
  width: 1166px; }

@media screen and (max-width: 1300px) {
  .CardContainer {
    width: 920px; } }

@media screen and (max-width: 1075px) {
  .CardContainer {
    width: 690px; } }

@media screen and (max-width: 845px) {
  .CardContainer {
    width: 460px; } }

@media screen and (max-width: 570px) {
  .CardContainer {
    width: 220px; } }
