@import url(../../fontello-e98b1dbc/css/fontello.css);
.Search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 35px;
  max-width: 750px;
  width: 80%;
  margin: 0px auto; }
  .Search input {
    border: none;
    box-sizing: border-box;
    cursor: default;
    font-size: 35px;
    transition-duration: 0.8s;
    height: 50px;
    width: 0px;
    padding-left: 5px; }
  .Search i {
    cursor: pointer;
    width: 49px; }

.Search.expanded input {
  border-bottom: 1px solid black;
  cursor: auto;
  width: calc(100% - 49px); }
