@import '../variable.scss';

.main-wrapper {
  display: flex;
}

.containers-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.no-match {
  color: $main-color;
  text-align: center;

  margin: 20px 0 200px;
}