$card-box-shadow: 5px 5px 5px 5px darkgrey;
$card-hover-box-shadow: 1px 1px 1px 1px black;

$card-selected-background: lighten(red, 45%);
$comparison-empty-background: lightgrey;

$dashed-border: 1px dashed black;
$solid-border: 1px solid black;

$header-background-color: #ff4d4d;

$low-color: red;
$low-average-color: rgb(255, 77, 0);
$average-color: rgb(255, 183, 0);
$high-average-color: rgb(149, 255, 0);
$high-color: rgb(64, 176, 9);

$graph-button-color: red;
