/* main styles */
/* Nav styles */
/* Card styles */
/* apple-icon styles */
/* Comparison styles */
/* Chart styles */
@import url(../../fontello-e98b1dbc/css/fontello.css);
.Nav {
  display: flex;
  flex-direction: column;
  background: #506479;
  padding: 104px 0px; }
  .Nav button {
    display: flex;
    align-items: center;
    text-align: left;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    outline: none;
    width: 100%;
    margin: 8px 0;
    padding: 3px;
    padding-left: 5px;
    color: white;
    cursor: pointer;
    font-size: 12pt;
    transition: .5s; }
    .Nav button i {
      height: 100%;
      padding-right: 10px; }
    .Nav button:hover {
      background: #fff;
      box-shadow: inset 1px 1px 1px 1px #060709;
      color: black; }
  .Nav button.selected {
    background: #3c4b5a;
    box-shadow: inset 1px 1px 1px 1px #060709; }
