@import url(../../fontello-e98b1dbc/css/fontello.css);
.Nav {
  display: flex;
  flex-direction: column;
  padding: 104px 0px;
  background: #506479; }
  .Nav button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0px;
    margin: 8px 0;
    cursor: pointer;
    font-size: 12pt;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: left;
    padding: 3px;
    outline: none;
    padding-left: 5px;
    transition: .5s; }
    .Nav button i {
      height: 100%;
      padding-right: 10px; }
    .Nav button:hover {
      background: #fff;
      box-shadow: 1px 1px 1px 1px inset #060709;
      color: black; }
