@import '../../fontello-e98b1dbc/css/fontello.css';

.Nav {
  display: flex;
  flex-direction: column;
  padding: 104px 0px ;
  // background: lighten(red, 15%);
  background: #506479;

  button {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0px;
    // box-shadow: 3px 3px 3px 3px darken(#617993, 25%);
    margin: 8px 0;
    cursor: pointer;
    font-size: 12pt;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: left;
    padding: 3px;
    outline: none;
    padding-left: 5px;
    transition: .5s;
    i {
      height: 100%;
      padding-right: 10px;
    }
    &:hover {
      background: #fff;
      box-shadow: 1px 1px 1px 1px inset darken(#617993, 45%); 
      color: black;
    }
  }
  button.selected {
  background: darken(#506479, 10%);
    box-shadow: 1px 1px 1px 1px inset darken(#617993, 45%); 
  }
}